body {
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(195, 232, 236);
    background-position: center;
    box-sizing: border-box;

}

main {
    background-color: rgb(160, 202, 238);
    width: 1200px;
    margin:50px auto; /*vnější okraj*/
    border: 3px solid black; /*ohraničení*/
    padding: 10px; /*vnitřní odsazení*/
}

h1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: rgba(24,85,96,0.8);
    border-bottom: 1px solid  rgb(24,85,96) ;
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 150%;
    text-transform: uppercase;
}

p {
    text-align: justify;
    text-indent: 50px;
    font-size: 120%;
}

ul {
    text-align: center;
}

li {
    text-align: center;
}
.li {
    text-align: center;
}

.menu-bar {
    border: 5px outset red;
    background-color: lightblue; 
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color:seashell;

}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px
}
.menu-bar ul li a {
    text-decoration: none;
    color: #fff; 
}
.active, .menu-bar ul li a:hover
{
    background: blue;
    border-radius: 20px;

}

